<div class="mb-3"></div>
<div class="row">
    <div class="mt-3 mb-3 offset-3 card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Consultas já realizadas</h5>
        <p class="card-text text-center"><%= @quantidade_de_consultas_ja_realizadas %></p>
    </div>
    </div> 
<div class="mt-3 mb-3 card" style="width: 18rem; margin-left:4rem;">
  <div class="card-body">
    <h5 class="card-title text-center">Atendidos hoje</h5>
    <p class="card-text text-center"><%= @pacientes_atendidos_hoje %></p>
  </div>
</div> 
<div class="row">
<div class="mt-4 mb-4">
	<h1 class="text-center">Pesquisar por médico</h1>
	<div class="col-md-6 offset-3">
  		<input type="email" class="form-control text-center" id="filter_input" placeholder="">
	</div>
</div>
</div>

<div class="mb-3 row">
<table class="table" id="myTable">
	<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Médico</th>
			<th scope="col">CRM</th>
            <th scope="col">Consultas já realizadas</th>
			<th scope="col">Pacientes atendidos hoje</th>
		</tr>
	</thead>
	<tbody>	
		<% @doctors.each do |doctor| %>
		<tr>
			<td><%= doctor.id %></td>
            <td><%= doctor.name %></td>
			<td><%= doctor.crm + doctor.crm_uf %></td>
			<td><%= all_appointments_count(doctor) %></td>
			<td><%= appointments_today(doctor) %></td>

		</tr>
		<% end %> 	
	</tbody>
</table>
</div>

<div align="center">
	<%= will_paginate @doctors %>
</div>

<script>
$(document).ready( function () {
    var oTable = $('#myTable').DataTable({
  		"sDom":"ltipr"
	});    
	$('#filter_input').keyup(function(){
		oTable.column(1).search( $(this).val() ).draw();
	});
} );
</script>