<%= render 'shared/errors', obj: @doctor %>
<%= form_for(@doctor, :html => {class: "form-horizontal", role: "form"}) do |f| %>
	<div class="mb-3 row">
		<div class="col-md-2 col-form-label ">
			<%= f.label :name, "Nome" %>
		</div>
		<div class="col-md-6">
            <%= f.text_field :name, class: "form-control", placeholder: "Entre com seu nome" %>
        </div>
	</div>
	<div class="mb-3 row">
		<div class="col-md-2 col-form-label ">
			<%= f.label :crm_uf, "Estado do CRM" %>
		</div>
		<div class="col-md-2">
			<%= f.select(:crm_uf, %w{ AC AL AP AM BA CE DF ES GO MA MT MS MG PA PB PR PE PI RJ RN RS RO RR SC SP SE TO}, {}, {:class => 'form-select'}) %>
		</div>
	</div>

	<div class="mb-3 row">
		<div class="col-md-2 col-form-label ">
			<%= f.label :crm, "Número do CRM" %>
		</div>
		<div class="col-md-4">
            <%= f.number_field :crm, class: "form-control", data: { numeric: true }, placeholder: "Entre com o número co CRM" %>
        </div>
	</div>

	<div class="mb-3 row">
		<div class="offset-2 col-md-10">
			<%= f.submit(@doctor.new_record? ? "Salvar" : "Atualizar", class: "btn btn-primary btn-lg btn-block") %>
		</div>
	</div>
<% end %>
<div class="offset-4 col-md-4 colormatch">
    "[ <%= link_to "Cancelar e retornar para lista de médicos", doctors_path %> ]"
</div>